 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 #wrapper {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100vh;
     justify-content: space-evenly;
     /* margin-inline: auto; */
 }

 /* Page 1  welcome */
 #welcome {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100%;
     background-image: url(./new-walp/Small\ Photo\ Frame.png);
     /* background-size: 100% 100%; */
     background-size: 100vw 100vh;
     background-repeat: no-repeat;
 }

 .intro {
     /* height: 0vh; */
     width: 80vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     backdrop-filter: blur(20px) saturate(180%);
     -webkit-backdrop-filter: blur(20px) saturate(180%);
     background-color: rgba(255, 255, 255, 0.2);
     border-radius: 12px;
     border: 1px solid rgba(209, 213, 219, 0.3);
     border-radius: 15px;
     box-shadow: -17px -17px 20px #595a5a,
         17px 17px 20px #ffffff;
 }

 .intro-vector {
     width: 100%;
     height: 300px;
     z-index: -1;
 }

 .intro h2 {
     color: rgb(36, 36, 36);
     font-size: 20px;
 }

 .intro span {
     width: 80%;
     font-size: 14px;
     font-style: italic;
     text-align: justify;
     letter-spacing: 0.8px;
     margin: 1rem 0;
 }

 /*----INTRO NAVIGATION--- */
 #intro-nav {
     position: absolute;
     bottom: 4px;
     width: 100%;
     height: 3rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     backdrop-filter: blur(20px) saturate(180%);
     -webkit-backdrop-filter: blur(20px) saturate(180%);
     background-color: rgba(255, 255, 255, 0.2);
     border: 1px solid rgba(209, 213, 219, 0.3);
     box-shadow: -17px -17px 20px #595a5a,
         17px 17px 20px #ffffff;
 }

 #intro-nav-btns-container {
     position: absolute;
     bottom: 0.5rem;
     display: flex;
     justify-content: space-between;
     width: 100%;
     height: 2rem;
 }

 .intro-nav-btn {
     padding: 0.5rem 1rem;
     margin: 0 0.5rem;
     border: none;
     border-radius: 15px;
     font-size: 12px;
     background-color: transparent;
 }

 .intro-nav-icon {
     width: 1.5rem;
 }

 .intro-nav-btn:hover {
     cursor: pointer;
     zoom: 90%;
 }

 /* ---Pagination--- */
 #pagination {
     position: absolute;
     bottom: 0.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     z-index: 1;
 }

 .pgn-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 1.5rem;
     height: 1.5rem;
     font-size: 10px;
     font-weight: bold;
     background-color: #131313;
     color: white;
     border-radius: 30px;
     cursor: pointer;
     transition: 0.5s ease width;
 }

 .pgn-btn:last-child {
     margin-right: 0;
 }

 .pgn-btn.active {
     width: 50px;
     cursor: pointer;
     background-color: #50005e;
 }

 /* ---------------------Page 2 user info ---------------------*/
 #user-info {
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* margin: 20% auto auto auto; */
     /* background-image: url(./walp/background.jpg); */
     background-size: 100vw 100vh;
     background-repeat: no-repeat;
 }

 .user-info-container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-end;
     width: 20rem;
 }

 .user-avatar {
     height: 20rem;
     height: 20rem;
     margin-bottom: 2rem;
 }

 .user-name {
     /* position: absolute; */
     width: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .user-name div {
     position: relative;
     display: flex;
     justify-content: start;
 }

 #name-label {
     position: absolute;
     top: 4px;
     left: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 2rem;
     width: 5rem;
     border-radius: 2rem;
     background: #7598A1;
     color: rgb(255, 255, 255);
     transition: 0.3s;
 }

 #name-value {
     width: 200px;
     height: 2.5rem;
     padding-left: 5.5rem;
     border-radius: 2rem;
     background: whitesmoke;
     color: rgb(255, 255, 255 / 96%);
     transition: 0.3s;
     border: 1px solid gray;
 }

 label img {
     width: 3rem;
 }

 .user-name input::placeholder {
     color: rgb(255 255 255 * 50%);
     font-size: 12px;
 }

 /* start :is from new line*/
 .user-name :is(input:focus, input:valid) {
     padding-left: 0px;
 }

 .user-name :is(input:focus, input:valid)~label {
     translate: -35px -45px;
     scale: 1.2;
 }

 .navigation-icon {
     width: 2rem;
     border: none;
 }

 .navigation-btn {
     border: none;
     background: transparent;
     margin-left: 0.5rem;
 }

 /* ---------------------------Page 3 / select mode--------------------------------------------- */

 #select-mode {
     /* display: none; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-image: url(./vectors/6961783.jpg);
     align-items: center;
     background-position: bottom;
     background-size: 100% 30%;
     background-repeat: no-repeat;
     height: 100vh;
     width: 100vw;
 }

 #select-mode-container {
     /* position: absolute; */
     /* background-color: #d3d3d3; */
     height: 20rem;
     width: 30rem;
     /* bottom: 1rem; */
     border: solid black;
     /* backdrop-filter: blur(6px) saturate(180%);
     -webkit-backdrop-filter: blur(6px) saturate(180%);
     background-color: rgba(99, 125, 116, 0.5);
     border-radius: 12px;
     border: 1px solid rgba(38, 63, 58, 0.358); */
 }

 .salary-mode-header {
     background-color: #00a7fc;
     height: 2rem;
     border-radius: 10px 10px 0 0;
 }

 .salary-mode-header~* {
     border: solid;
 }

 .salary-mode-body {
     background-color: #FFFFFF;
     height: 10rem;
     border-radius: 0 0 15px 15px;
 }

 h5 {
     /* color: rgb(0, 147, 201); */
     /* margin-top: 6px; */
 }

 #name-span {
     color: #b74000d6;
     font-weight: bold;
 }

 #mode-container {
     display: flex;
     justify-content: space-evenly;
     /* background-color: #00a7fc; */
 }

 .salary-mode {
     width: 50%;
     /* height: 10rem; */
     border: solid blueviolet;
 }

 #full-salary {
     /* background-color: #388397; */

 }

 .salary-mode-name {
     /* text-align: center; */
     font-size: 18px;
     font-weight: 500;
     margin: 0 8px;
     color: #000000;
 }


 .salary-mode-img {
     width: 8rem;
     height: 6rem;
 }

 #mode-info img:hover {
     opacity: 0.5;
     cursor: pointer;
 }

 #mode-info img {
     position: absolute;
     right: 0px;
     top: 0px;
     width: 20px;
     margin: 12px;
 }

 .mode-icon {
     width: 24px;
     position: absolute;
     right: 6px;
     bottom: 5px;
     cursor: pointer;
 }

 .mode-icon:hover {
     opacity: 0.3;
 }

 #select-mode button {
     position: relative;
     top: -15px;
     background-color: transparent;
     border: none;
     border-radius: 15px;
     width: 82px;
     height: 34px;
     font-size: 16px;
 }

 #select-mode button img {
     /* background-color: white; */
     border-radius: 50%;
 }

 #select-mode a {
     text-decoration: none;
     color: white;
 }

 /* switches */
 .switch {
     /* border: solid red; */

 }

 .switch input {
     display: none;

 }

 .switch label {
     width: 3rem;
     height: 1.5rem;
     /* padding: 6px; */
     border-radius: 15px;
     border: 2px solid #252525;
     cursor: pointer;
     transition: 0.3s;
 }

 .switch label::after {
     content: "";
     display: inherit;
     width: 10px;
     height: 8px;
     border-radius: 12px;
     background: #2a2a2a;
     transition: 0.3s;
 }

 .switch input:checked~label {
     border-color: rgb(0, 255, 98);
 }

 .switch input:checked~label::after {
     translate: 15px 0;
     background: rgb(0, 201, 0);
 }

 .switch input:disabled label {
     opacity: 0.35;
     cursor: not-allowed;
 }

 .switch.square label,
 .switch.square label::after {
     border-radius: 0;
 }

 #icon {
     width: 16px;
 }

 /* ---------------------------------info-message-container-------------------- */
 .info-message-modal {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 300px;
     /* height: 400px; */
     background-color: #d7d7d7d9;
     position: absolute;
     z-index: +2;
 }

 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #000000;
 }

 /* #info-message-container div {
    margin-bottom: 12px; 
    border: solid; 
} */

 .info-message-modal span {
     font-size: 12px;
     font-style: italic;
     margin: 6px;
 }

 .info-message-modal div:last-child {
     display: flex;
     width: 100%;
     justify-content: space-between;
 }

 .mode-back-icon {
     width: 24px;
     /* position: relative;
    left: 6px;
    /* bottom: 5px; */
     cursor: pointer;
     margin: 8px;

 }

 /*-------------------------- Page / 4 main menu------------------------------*/
 main {
     /* display: none; */
     /* position: fixed; */
     width: 100%;
     display: flex;
     flex-direction: column;
     /* justify-content: space-evenly; */
     align-items: center;
     background-color: #ece1d0;
     /* border: solid red; */
     /* margin-bottom: 10px; */
 }

 header {
     position: fixed;
     top: 0;
     display: flex;
     justify-content: space-between;
     width: 100%;
     color: black;
     background-color: #fff;
     z-index: 1;

 }

 #logo {
     width: 2.5rem;
     margin: 0.5rem;
     /* border: solid; */
 }

 #logo:hover {
     scale: 1.5;
 }

 #user-logo-message {
     font-size: 12px;
     padding: 0 1rem;
 }

 #day-time-info {
     color: rgb(0, 110, 255);
 }

 #date {
     /* width: 60%; */
     height: fit-content;
     text-align: center;
     margin: auto;
     color: #1069FD;
     font-size: 20px;
     /* border: solid; */
 }

 #sidebar-menu-btn {
     width: 1.5rem;
 }

 #sidebar-menu-btn:hover {
     cursor: pointer;
     scale: 1.5;
 }

 aside {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* width: 15%; */
     padding: 0.5rem;
 }

 /*------- extra info -------------------*/
 #extra-info-container {
     /* position: relative; */
     /* display: flex; */
     width: 100%;
     /* height: 350px; */
     margin: 0.5rem;
     margin-top: 300px;
     /* height: 5rem; */
     /* background-color: #F0F5FB; */
     font-size: 10px;
     /* padding: 60px; */
     /* opacity: 0.8; */
     /* border-radius: 10px; */
 }


 /* CAROUSEL------------ */
 .carousel {
     /* height: 22vh; */
     /* width: 150%; */
     position: relative;
     background-color: transparent;
     overflow: hidden;
     /* border: solid; */
 }

 .track {
     width: 180%;
     display: flex;
 }

 .carousel .track {
     /* position: absolute; */
     /* width: 100%; */
     /* top: 150px; */
     /* left: 20px; */

 }

 .carousel .track {
     /* height: 350px; */
     /* width: 100%; */
     border-radius: 10px;
     margin-left: 20px;
     /* border: solid black; */
 }

 /* User-information part / left */

 .half-container {
     /* position: relative; */
     /* border: solid rgb(40, 83, 41); */
     border-radius: 10px;
     margin: 0 5px;
     box-sizing: content-box;
     width: 90%;
     background-color: #5d8a8e75;
 }

 #info-for-user {
     /* position: absolute; */
     display: flex;
     flex-direction: column;

     z-index: +5;
     /* border: solid black; */
     /* width: 300px; */
     box-sizing: content-box;

 }

 #staff-container {
     display: flex;
     /* border: solid red; */
     font-size: 8px;
 }

 .quarter {
     width: 30%;
 }

 .staff-header {
     font-size: 10px;
     padding-right: 4px;
     color: rgb(255, 51, 0);
     border-left: solid rgb(0, 151, 205);
 }

 #date-icon {
     width: 4rem;
     height: 4rem;
 }

 /* Schedule part /right  */
 #schedule {
     display: flex;
     flex-direction: column;
     background-color: #00865e;
     /* border: solid blueviolet; */
     /* width: 600px; */
     margin: 0 20px;
 }

 #week-container {
     display: flex;
     justify-content: space-evenly;
 }

 .date-container {
     display: flex;
     flex-direction: column;
     /* margin: 0.2rem; */
     padding: 0.2rem;
     color: white;
     /* border: 1px solid black; */
     background-color: #430178ac;
     border-radius: 5px 5px 15px 15px;
 }

 #shift-info {
     display: flex;
     width: 100%;
     flex-direction: column;
 }

 .shift {
     display: flex;
     justify-content: space-evenly;
     border-radius: 10px;
     margin: 2px;
 }

 .current-shift-date {
     display: flex;
     position: relative;
 }

 .shift-day-container {
     width: 100%;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: #000000;
     font-size: 6px;
 }

 .shift-day-container span {
     width: 100%;
     margin: 2px 0 2px 0;
 }

 .arrow {
     margin: 4px;
 }

 #morning {
     background-color: #E0F197;

 }

 #middle {
     background-color: #59B98A;
     color: white;
 }

 #night {
     background-color: #01555A;
     color: white;
 }

 #main-body {
     /* width: 100%; */

     /* position: fixed; */
     /* top: 3rem; */
     /* bottom: 4rem; */
     width: 100%;
     display: flex;
     flex-direction: column;
     /* align-items: flex-end; */
     /* justify-content: center; */
     /* background-image: url(./walp/modern-polygonal-technology-background_1035-7639.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
 }

 /* main-menu (cards) */
 #shift-cards-container {
     display: flex;
     flex-wrap: wrap;
     /* justify-content: space-evenly; */
     /* align-items: center; */
     /* height: 200px; */
     width: 100%;
     /* background-color: #ffffffb5; */
     /* background-image: url(./vectors/—Pngtree—digital\ technology\ blue\ geometric\ squares_2342604.png); */
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     border-radius: 15px;
     /* margin-top: 5rem;  */
     /* padding-bottom: 0;
     margin-bottom: 0; */
     /* border: solid black; */
 }

 /* CARD READY To USE */

 .post-card {
     width: 48%;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     text-align: left;
     padding: 5px;
     font-style: italic;
     margin: 4px;
 }

 .image-preview {
     width: 100%;
 }

 .post-card a {
     margin: auto;
     padding: 6px;
     font-style: oblique;
 }

 .card-head {
     display: flex;
     justify-content: space-between;
 }

 #card-1 {
     background-image: url(./walp/morning-1.jpg);
     background-position: center;
     background-size: 100%;

 }

 #card-1 .card-amount {
     display: flex;
     justify-content: center;
     height: 25px;
     width: 25px;
     border-radius: 50%;
     background-color: transparent;
 }

 #card-2 .card-amount {
     height: 25px;
     width: 25px;
     border-radius: 50%;
 }

 #card-2 {
     background-image: url(./walp/morning-sunrise.jpg);
     background-position: center;
     background-size: 100%;
 }

 #card-3 .card-amount {
     height: 25px;
     width: 25px;
     border-radius: 50%;
     background-color: transparent;
 }

 #card-3 {
     background-image: url(./walp/night-3.jpg);
     background-position: center;
     background-size: 100% 100%;
 }

 .count {
     width: 25px;
     background-color: transparent;
     background: transparent;
     font-size: 20px;
 }

 #card-4 {
     position: relative;
     width: 48%;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     text-align: left;
     padding: 5px;
     font-style: italic;
     margin: 4px;
     background-image: url(./vectors/tax-form-of-state-government-taxation-with-forms-calendar-audit-calculator-or-analysis-to-accounting-and-payment-in-flat-background-illustration_2175-3829.webp);
     /* background-color: #2a2a2a; */
     background-position: center;
     background-size: 100% 100%;
 }

 .count {
     width: 25px;
     background-color: transparent;
     background: transparent;
     font-size: 20px;
 }

 .more-btn-container {
     position: absolute;
     right: 0.9rem;
     bottom: 0.1rem;
 }

 .more-btn {
     rotate: 90deg;
     width: 6px;
 }

 .more-btn:hover {
     cursor: pointer;
 }

 .avatar {
     width: 3rem;
     background-color: rgb(255, 255, 255);
     border-radius: 50%;
 }

 .title {
     font-size: 16px;
     /* line-height: 22px; */
     font-weight: 500;
     /* margin-top: 10px; */
     color: #fff;
     text-decoration: none;
     transition: all .35s ease-in;
     /* background-color: #7598a193; */
     border-radius: 15px 15px 0 0;
 }

 .title:hover {
     text-decoration: blueviolet;
 }

 .card-details-container {
     font-size: 14px;
     font-weight: 400;
     color: rgb(255, 255, 255);
     background-color: #8b95917d;
     border-radius: 10px;
 }

 /* Input number (days count) */
 .days-count-container {
     display: flex;
     justify-content: space-between;
     align-items: end;
 }

 .input-container {
     display: flex;
     align-items: end;
     width: 60px;
     /* margin: 6px 0 0 0px; */
 }

 .days-count-container .count {
     color: #000000;
     display: inline-block;
     vertical-align: top;
     font-size: 20px;
     min-width: 30px;
     text-align: center;
 }

 .days-count-container .plus,
 .days-count-container .minus {
     cursor: pointer;
     display: inline-block;
     color: white;
     font: 15px/1 Arial, sans-serif;
     text-align: center;
     padding: 8px;
     margin: 4px;
     border-radius: 5px;
 }

 div {
     text-align: center;
 }

 .minus {
     background-color: #2a2a2a;
 }

 .plus {
     background-color: #29b05a;
 }

 .minus:hover {
     font-size: larger;
     /* background-color: #717fe0 !important; */
 }

 .plus:hover {
     font-size: larger !important;
 }

 /*Prevent text selection*/
 input {
     /* padding-left: 5px; */
     border: none;
     font-size: 15px;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 input:disabled {
     color: white;
 }

 /* input:enabled {
    color: white;
} */

 /* checkbox */
 .checkbox-wrapper-12 {
     position: relative;
 }

 .checkbox-wrapper-12>svg {
     position: absolute;
     top: -130%;
     left: -170%;
     width: 110px;
     pointer-events: none;
 }

 .checkbox-wrapper-12 * {
     box-sizing: border-box;
 }

 .checkbox-wrapper-12 input[type="checkbox"] {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     -webkit-tap-highlight-color: transparent;
     cursor: pointer;
     margin: 0;
 }

 .checkbox-wrapper-12 input[type="checkbox"]:focus {
     outline: 0;
 }

 .checkbox-wrapper-12 .cbx {
     width: 24px;
     height: 24px;
     top: calc(100px - 12px);
     left: calc(100px - 12px);
 }

 .checkbox-wrapper-12 .cbx input {
     position: absolute;
     top: 0;
     left: 0;
     width: 24px;
     height: 24px;
     /* border: 2px solid #bfbfc0; */
     border-radius: 50%;
 }

 .checkbox-wrapper-12 .cbx label {
     width: 24px;
     height: 24px;
     background: none;
     border-radius: 50%;
     position: absolute;
     top: 0;
     left: 0;
     transform: trasnlate3d(0, 0, 0);
     pointer-events: none;
 }

 .checkbox-wrapper-12 .cbx svg {
     position: absolute;
     top: 5px;
     left: 4px;
     z-index: 1;
     pointer-events: none;
 }

 .checkbox-wrapper-12 .cbx svg path {
     stroke: #fff;
     stroke-width: 3;
     stroke-linecap: round;
     stroke-linejoin: round;
     stroke-dasharray: 19;
     stroke-dashoffset: 19;
     transition: stroke-dashoffset 0.3s ease;
     transition-delay: 0.2s;
 }

 .checkbox-wrapper-12 .cbx input:checked+label {
     animation: splash-12 0.6s ease forwards;
 }

 .checkbox-wrapper-12 .cbx input:checked+label+svg path {
     stroke-dashoffset: 0;
 }

 @-moz-keyframes splash-12 {
     40% {
         background: #866efb;
         box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
     }

     100% {
         background: #866efb;
         box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
     }
 }

 @-webkit-keyframes splash-12 {
     40% {
         background: #866efb;
         box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
     }

     100% {
         background: #866efb;
         box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
     }
 }

 @-o-keyframes splash-12 {
     40% {
         background: #866efb;
         box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
     }

     100% {
         background: #866efb;
         box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
     }
 }

 @keyframes splash-12 {
     40% {
         background: #866efb;
         box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
     }

     100% {
         background: #866efb;
         box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
     }
 }

 .main-menu-icon:hover {
     cursor: pointer;
     opacity: 0.6;
     border-radius: 5px;
 }

 .card-details-container {
     display: flex;
     flex-direction: column;
     /* align-items: flex-start; */
     /* margin: 4px; */

 }

 .card-details-container div {
     width: 100%;
     display: flex;
     justify-content: left;
     align-items: center;
 }

 .card-details-icon {
     width: 24px;
     padding: 2px;
     margin: 4px 4px 4px 1rem;
 }

 /* arrow button */

 .post-card .card-arrow {
     padding: 0.4rem;
     transition: 0.2s;
     display: flex;
     justify-content: end;
     align-items: center;
 }

 .card-arrow {
     margin-right: -5px;
     margin-bottom: -5px;
     /* border: solid red; */
     /* width: 40px; */
     border-radius: 10px 0 10px 0;
     background-color: #866efb;
 }

 #arrow {
     transition: 0.2s;
     /* border: solid white; */
     height: 15px;
     width: 15px;
 }

 /* hover */
 .card-arrow:hover {
     background: #252525;
     cursor: pointer;
 }

 .card-arrow:hover #arrow {
     transform: translateX(3px);
 }

 #calculate {
     border: none;
     padding: 6px 16px;
     border-radius: 10px;
     background-color: #00865e;
     cursor: pointer;
     font-size: 10px;
     color: rgb(255, 255, 255);
     font-style: oblique;
     font-weight: 500;
     margin: 0 8px;
     opacity: 0.7;
 }

 #calculate img {
     width: 24px;
     background-color: white;
     border: solid #00865e;
     border-radius: 7px;
 }

 #calculate:hover {
     cursor: pointer;
     opacity: 1;
 }

 #calculate img:hover {
     cursor: pointer;
 }

 /* Page 5 calculation -----------------------------------------------------------------------*/
 #calc-container {
     width: 100%;
     display: flex;
     /* justify-content: center; */
     /* border: solid black; */
     border-radius: 15px 0 15px 0;
     margin: 0.5rem 0 3.5rem 0;
     padding-left: 6px;
 }

 .calc-salary {
     /* height: 195px; */
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: center;
     border-radius: 15px 0 0 15px;
     position: relative;
     /* background-image: url(./vectors/—Pngtree—digital\ technology\ blue\ geometric\ squares_2342604.png); */
     background-position: center;
     background-size: 150% 115%;
     background-repeat: no-repeat;

 }

 .calc-salary img {
     position: absolute;
     top: -1.5rem;
     width: 14rem;
     height: 11rem;

 }

 h6 {
     font-size: 12px;
     /* padding: 12px; */
     margin: 6px 10px;
 }

 #final-income-price {
     color: rgb(0, 90, 51);
     font-weight: bold;
     font-style: oblique;
     padding: 0 16px 16px 16px;
     margin: 0;

 }

 .calc-taxes {
     display: flex;
     flex-direction: column;
     justify-content: start;
     border-radius: 0 15px 15px 0;
     /* background-image: url(./walp/6728777257ce3676a0815df5fb477fc5.jpg); */
     /* background-size: cover; */
     /* background-repeat: no-repeat; */
     /* border: solid black; */
     width: 50%;
 }

 .calc-card {
     display: flex;
     justify-content: space-between;
     border-radius: 15px;
     margin: 5px;
     padding: 5px;
 }

 .calc-card div:first-child {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* width: 70%; */
 }

 .calc-icon-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 30%;
 }

 .calc-icon {
     /* height: 1`rem; */
     width: 2.5rem;

     /* rotate: 20deg; */
 }


 .calc-salary {
     display: flex;
     flex-direction: column;
     /* justify-content: end; */
     /* position: relative; */
     /* margin: 15px; */
     background-color: white;
     /* border: solid blueviolet; */
     color: #000000;
     width: 50%;
 }

 .calc-taxes {
     background-color: white;
     /* border: solid green; */
 }

 .worked-days {
     background-color: #10b6fd;
 }

 .taxes {
     background-color: #743f8f;
     color: white;
 }

 .extra-earnings {
     background-color: #233734;
     color: white;
 }

 /* Navigation menu */
 nav {
     position: fixed;
     bottom: 0;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     align-items: baseline;
     background: transparent;
     border-radius: 15px;
     margin: auto;
     background-color: #ddd;
     /* background-color: #00000070; */
 }

 .btn-home {
     width: 35px;
     /* height: 30px; */
     /* margin-top: 5px; */
     /* border: solid; */
     /* border-radius: 50%; */
     /* padding: 2px; */
 }

 nav .btn {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2rem;
     color: #ffffff;
     border-radius: 1.5rem;
     padding: 0;
 }

 nav input {
     position: absolute;
     transform: scale(0);
 }

 nav label {
     margin-bottom: 0;
 }

 nav .btn-icon {
     font-size: 1.5rem;
     transition: all 0.5s;

     /* background-color: white; */
 }

 .nav-icon {
     width: 20px;
 }

 nav .btn-text {
     position: absolute;
     left: 0.5rem;
     top: 50%;
     transform:
         translateY(-20%) translateX(1.25rem);
     visibility: hidden;
     opacity: 0;
     font-size: 10px;
     color: #ffffff;
     transition: all 0.5s;

 }

 nav input:checked~.btn {
     background-color: rgba(4, 97, 60, 0.768);
     /* border:  solid rgb(0, 0, 0); */

 }

 nav #input-3:checked~#btn-home {
     background-color: transparent;
     border-radius: 50%;
 }

 nav input:checked~.btn .btn-text {
     visibility: visible;
     opacity: 1;
     transform:
         translateY(-50%) translateX(1rem);
 }

 nav input:checked~.btn .btn-icon {
     transform: translateX(-1.8rem);
 }

 label {
     width: 85px;
 }


 /* MODALS */
 .modal {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 0.4rem;
     width: 450px;
     padding: 1.3rem;
     min-height: 250px;
     position: absolute;
     top: 20%;
     background-color: white;
     border: 1px solid #ddd;
     border-radius: 15px;
     z-index: 2;
     background-color: #00a7fc;
 }

 .modal .flex {
     display: flex;
     align-items: center;
     justify-content: space-between
 }

 .overlay {
     display: flex;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(3px);
     z-index: 1;
 }



 .butn {
     display: inline-block;
     padding: 0.8rem 1.4rem;
     font-weight: 700;
     background-color: black;
     color: rgb(186, 24, 24);
     border-radius: 5px;
     text-align: center;
     font-size: 1em;
 }

 .butn-open {
     position: absolute;
     bottom: 150px;
     background-color: #57CAFB;
     z-index: +2;
 }

 .butn-close {

     transform: translate(10px, -20px);
     padding: 0.5rem 0.7rem;
     background: #eee;
     border-radius: 50%;
     z-index: +2;
 }


 .hidden {
     display: none !important;
 }